body{
    background-color: rgb(182, 143, 161);
    
}




.dd{
    padding: 10px;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgb(147, 240, 143);
    border: none;
    border-radius: 20px;
    color: rgb(2, 11, 19);
}

.dd :hover{
    padding: 15px;
    background: rgb(251, 251, 252);
    cursor: grab;
    

} 

#hm{
    margin-left: 30rem;
    padding: 10px;
    margin-right: 30px;
}

section {
    margin-left: 1rem;
}

span{
    color: rgb(255, 28, 28);
}
.large{
    font-size: 3rem;
    margin-top: -4px;
    margin-bottom: 0px;
}
.name{
    margin-bottom: 0px;
    font-size: 2rem;
}
h3{
    line-height: 1px;
    font-style: calc();
    color: rgb(11, 247, 51);
}
#up{
     padding: 10px;
    margin-right: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: rgb(196, 196, 252);
    border: none;
    border-radius: 20px;
    color: rgb(2, 11, 19);
}
#up :hover{
    padding: 15px;
    background: rgb(251, 251, 252);
}
img{
    margin-left: 10rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
    animation: alternate;
    animation-duration: 3s;
    animation-name: img;
}

